<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/emptyLayout">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<th:block layout:fragment="content">
	
	 <div class="p-3 ">
	 <div class="container-center" >
<!-- 		<div class="card align-middle" > -->
			 <div class="card-body">
				<div class="text-center">
	                <h1 class="h4 text-gray-900 mb-4">Login</h1>
	                <div v-html="fuck"></div>
	            </div>
	            <form id="loginForm" action="/loginProcesse" method="POST">
	            	
	                <div class="form-group">
	                	<input id="email" name="email" class="form-control form-control-user" placeholder="아이디를 입력해주세요"> 
	                </div>
	                <div class="form-group">
	                    <input id="password" type="password" name="password" class="form-control form-control-user" placeholder="비밀번호를 입력해주세요">
	                </div>
	                <div class="form-group">
	                    <div class="custom-control custom-checkbox small">
	                        <input type="checkbox" class="custom-control-input" id="customCheck">
	                        <label class="custom-control-label" for="customCheck">Remember
	                            Me</label>
	                    </div>
	                </div>
	                <br><br><br><br>
	                <button   class="btn btn-primary  btn-block">Login</button>
	                <a  href="/signUpPage" class="btn btn-primary  btn-block">Sign up</a>
	                <br><br><br><br><br><br><br>
	            </form>
	            <hr>
	            <div class="text-center">
	                <a class="small" href="forgot-password.html">Forgot Password?</a>
	            </div>
			</div>
<!-- 		</div> -->
		</div>
	</div>
</th:block>
</html>
<script>

$(document).ready(function(){
		
	$.ajax({
		url : '/authenticated',
		type : 'GET',
		success : function(data, xhr, error){
			alert('이미 로그인 되어있습니다. 메인화면으로 이동합니다.');
			location.href='/';
		},
		error : function(data){
		}
	});
		
	});
	
	$('#loginForm').submit(function(event){
		
		event.preventDefault();
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		if(!checkInput()) return;
		
		var $form = $(this);
		$.ajax({
			url  : $form.attr('action'),
			data : $form.serialize(),
			type : $form.attr('method'),
			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            },
			success : function(data , xhr , error) {
				var result = JSON.parse(data);
				if(result.success){
					location.href = result.prevPage;
				}else{
					alert(result.message);
				}
			},
			error : function(data) {
				console.log(data);
				alert('시스템 오류가 발생하였습니다.')
			}
			
		});
	
	});
	
	function checkInput(){
		
		var email = $('input[name="email"]').val();
		email = email.trim();
		
		var password = $('input[name="password"]').val();
		password = password.trim();
		
		if(email == ''){
			alert('아이디를 입력해주세요');	
			return false;
		}
		
		if(password == ''){
			alert('비밀번호를 입력해주세요');
			return false;
		}
		
		return true;
	}
</script>
