<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/emptyLayout">
<th:block layout:fragment="content">

<div class="row justify-content-center">

   <div class="col-xl-10 col-lg-12 col-md-9">

       <div class="card o-hidden border-0 shadow-lg my-5">
           <div class="card-body p-0">
               <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Login</h1>
                            </div>
                            <form id="loginForm" action="/loginProcesse" method="POST">
                                <div class="form-group">
                                	<input id="email" name="email" class="form-control form-control-user" placeholder="아이디를 입력해주세요"> 
                                </div>
                                <div class="form-group">
                                    <input id="password" name="password" class="form-control form-control-user" placeholder="비밀번호를 입력해주세요">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember
                                            Me</label>
                                    </div>
                                </div>
                                <br><br><br><br>
                                <button   class="btn btn-primary  btn-block">Login</button>
                                <a  href="/signUpPage" class="btn btn-primary  btn-block">Sign up</a>
<!--                                 <a href="javascript:void(0);" class="btn btn-primary  btn-block">login</a> -->
                                <!-- <hr>  얇은 구분선 --> 
                                <!-- <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Login with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                </a> -->
                                <br><br><br><br><br><br><br>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
<!--                             <div class="text-center"> -->
<!--                                 <a class="small" href="register.html">Create an Account!</a> -->
<!--                             </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</th:block>
</html>
<script>

$(document).ready(function(){
	
	$.ajax({
		url : '/authenticated',
		type : 'GET',
		success : function(data, xhr, error){
			alert('이미 로그인 되어있습니다. 메인화면으로 이동합니다.');
			location.href='/';
		},
		error : function(data){
		}
	})
	
});

$('#loginForm').submit(function(event){
	
	event.preventDefault();
	
	var $form = $(this);
	$.ajax({
		url  : $form.attr('action'),
		data : $form.serialize(),
		type : $form.attr('method'),
		success : function(data , xhr , error) {
			console.log(data);
			console.log(xhr);
			var result = JSON.parse(data);
			if(result.success){
				location.href = result.prevPage;
			}else{
				alert(result.message);
			}
			console.log(result);
			
			console.log(data.isSuccess);
			console.log(data.success);
		},
		error : function(data) {
			console.log(data);
			alert('시스템 오류가 발생하였습니다.')
		}
		
	})
	
	
})


</script>
