<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/emptyLayout">
<th:block layout:fragment="content">

	<div class="row justify-content-center">
	
	   <div class="col-xl-10 col-lg-12 col-md-9">
	
	       <div class="card o-hidden border-0 shadow-lg my-5">
	           <div class="card-body p-0">
	               <!-- Nested Row within Card Body -->
	                <div class="row">
	                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
	                    <div class="col-lg-6">
	                        <div class="p-5">
	                            <div class="text-center">
	                                <h1 class="h4 text-gray-900 mb-4">Sign up</h1>
	                            </div>
	                            <form action="/join">
	                                <div class="form-group">
	                                	<input type="text" name="mbrId" class="form-control form-control-user" placeholder="아이디를 입력해주세요">
	                                </div>
	                                <div class="form-group">
	                                	<input type="text" name="mbrPw" class="form-control form-control-user" placeholder="비밀번호를 입력해주세요">
	                                </div>
	                                <div class="form-group">
	                                	<input type="text" name="mbrNm" class="form-control form-control-user" placeholder="회원명을 입력해주세요">
	                                </div>
	                                <div class="form-group">
	                                	<input type="text" name="mbrEmail" class="form-control form-control-user" placeholder="이메일을 입력해주세요">
	                                </div>
	                                <div class="form-group">
	                                	<input type="text" maxLength="13" name="mobilNo" class="form-control form-control-user" placeholder="010-1234-5678">
	                                </div>
	                                <br><br><br><br>
	                                <button type="submit"   class="btn btn-primary  btn-block">Sign up</button>
	                                <br><br><br><br><br><br><br>
	                            </form>
	                            <hr>
	                            <div class="text-center">
	                               <a class="small" href="/login">Login</a>
	                           </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</html>